# Dependency directories
node_modules/

# Nuxt.js build / generate output
.nuxt
dist

# Service worker
sw.*

# Prisma
/packages/api/prisma/generated-client

# Yarn v2
/.yarn
/.yarnrc.yml
/.pnp.*

###

/.idea
